---
import '../styles/global.css';
import bookmarklet from '../bookmarklet.js?bookmarklet';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Bookmarklet to create a list of youtube-dl commands for search results on MediathekViewWeb"
		/>
		<title>MediathekViewWeb Bookmarklet</title>
		<link rel="icon" href="favicon.svg" />
	</head>
	<body
		class="flex flex-col bg-grey-lighter dark:bg-gray-800 h-screen font-sans"
	>
		<main class="container mx-auto h-full flex justify-center items-center">
			<div class="mx-5 w-full lg:w-2/3 md:mx-0">
				<h1 class="text-2xl tracking-tight font-extrabold text-gray-900">
					<span class="block xl:inline"> 🍿 MediathekViewWeb Bookmarklet </span>
				</h1>

				<p
					class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
				>
					This bookmarklet generates a list of
					<code class="text-red-600">youtube-dl</code>
					commands for search results on
					<a
						href="https://mediathekviewweb.de/"
						class="text-indigo-600 underline"
						target="_blank">MediathekViewWeb</a
					>. To install it, drag the link below into your browser's bookmark
					bar.
				</p>

				<div class="mt-8 lex lg:mt-5 lg:flex-shrink-0">
					<div class="inline-flex rounded-md shadow">
						<a
							href={bookmarklet}
							class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700"
							title="Drag me to your bookmark bar"
						>
							mediathek-dl
						</a>
					</div>
				</div>

				<p
					class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
				>
					Once installed, search for any movie in the Mediathek, then click the
					bookmarklet. This will copy all download commands to your clipboard.
				</p>
			</div>
		</main>

		<footer class="w-full text-center p-4 pin-b">
			<a
				href="https://github.com/idleberg/mediathek-youtubedl-bookmarklet"
				class="text-indigo-600">Code on GitHub</a
			>
		</footer>
	</body>
</html>
